  body { 
         background-image:url(img/bg1.jpg);
            background-size: cover;
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
        }

        h1{
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: rgba(0, 0, 0, 0.644);
        }
        p {
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: rgba(0, 0, 0, 0.644);
        }
        a {
            display: block;
            margin: 10px;
            color: rgba(0, 0, 0, 0.644);
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            text-decoration: none;
        }

        h2{
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: rgba(0, 0, 0, 0.644);
        }